/*@font-face {
    font-family: OpenSansRegular;
    src: url(../../fuente/OpenSans-Regular.ttf);  
}
@font-face {
    font-family: OpenSansBold;
    src: url(../../fuente/OpenSans-Bold.ttf);  
    
}*/